<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workflow.mapper.EmployeePositionMapper">

    <resultMap id="BaseResultMap" type="com.example.workflow.entity.EmployeePosition">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="empId" column="emp_id" jdbcType="BIGINT"/>
            <result property="positionId" column="position_id" jdbcType="BIGINT"/>
            <result property="posiPercent" column="posi_percent" jdbcType="DECIMAL"/>
            <result property="state" column="state" jdbcType="SMALLINT"/>
            <result property="ins" column="ins" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,emp_id,position_id,
        posi_percent,state,ins,
        create_time,update_time,create_user,
        update_user
    </sql>
</mapper>
