<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workflow.mapper.RegionCoefficientMapper">

    <resultMap id="BaseResultMap" type="com.example.workflow.entity.RegionCoefficient">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="region" column="region" jdbcType="VARCHAR"/>
            <result property="coefficient" column="coefficient" jdbcType="DOUBLE"/>
            <result property="state" column="state" jdbcType="SMALLINT"/>
            <result property="ins" column="INS" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,region,coefficient,
        state,INS,create_time,
        update_time,create_user,update_user
    </sql>
</mapper>
